<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ressources">
            <h2><span>Ressources</span> {{ressources.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{ressources.nom}}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{ressources.prenom}}</span>
                </dd>
                <dt><span>Acronyme</span></dt>
                <dd>
                    <span>{{ressources.acronyme}}</span>
                </dd>
                <dt><span>B U</span></dt>
                <dd>
                    <div *ngIf="ressources.bU">
                        <a [routerLink]="['/bu', ressources.bU?.id, 'view']">{{ressources.bU?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ressources', ressources.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
