<div>
    <h2 id="page-heading">
        <span>Ressources</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ressources" [routerLink]="['/ressources/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Ressources
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ressources?.length === 0">
        <span>No ressources found</span>
    </div>
    <div class="table-responsive" *ngIf="ressources?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom</span></th>
            <th><span>Prenom</span></th>
            <th><span>Acronyme</span></th>
            <th><span>B U</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ressources of ressources ;trackBy: trackId">
                <td><a [routerLink]="['/ressources', ressources.id, 'view' ]">{{ressources.id}}</a></td>
                <td>{{ressources.nom}}</td>
                <td>{{ressources.prenom}}</td>
                <td>{{ressources.acronyme}}</td>
                <td>
                    <div *ngIf="ressources.bU">
                        <a [routerLink]="['/bu', ressources.bU?.id, 'view' ]" >{{ressources.bU?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ressources', ressources.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ressources', ressources.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ressources', { outlets: { popup: ressources.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
