<div>
    <h2 id="page-heading">
        <span>Type De Projets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-de-projet" [routerLink]="['/type-de-projet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Type De Projet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="typeDeProjets?.length === 0">
        <span>No typeDeProjets found</span>
    </div>
    <div class="table-responsive" *ngIf="typeDeProjets?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Libelle</span></th>
            <th><span>Code</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let typeDeProjet of typeDeProjets ;trackBy: trackId">
                <td><a [routerLink]="['/type-de-projet', typeDeProjet.id, 'view' ]">{{typeDeProjet.id}}</a></td>
                <td>{{typeDeProjet.libelle}}</td>
                <td>{{typeDeProjet.code}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/type-de-projet', typeDeProjet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/type-de-projet', typeDeProjet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/type-de-projet', { outlets: { popup: typeDeProjet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
