<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeDeProjet">
            <h2><span>Type De Projet</span> {{typeDeProjet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{typeDeProjet.libelle}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{typeDeProjet.code}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-de-projet', typeDeProjet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
