<div>
    <h2 id="page-heading">
        <span>Fonctions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fonction" [routerLink]="['/fonction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Fonction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="fonctions?.length === 0">
        <span>No fonctions found</span>
    </div>
    <div class="table-responsive" *ngIf="fonctions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Libelle</span></th>
            <th><span>Code</span></th>
            <th><span>Ressources</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fonction of fonctions ;trackBy: trackId">
                <td><a [routerLink]="['/fonction', fonction.id, 'view' ]">{{fonction.id}}</a></td>
                <td>{{fonction.libelle}}</td>
                <td>{{fonction.code}}</td>
                <td>
                    <div *ngIf="fonction.ressources">
                        <a [routerLink]="['/ressources', fonction.ressources?.id, 'view' ]" >{{fonction.ressources?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/fonction', fonction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fonction', fonction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fonction', { outlets: { popup: fonction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
