<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fonction">
            <h2><span>Fonction</span> {{fonction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{fonction.libelle}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{fonction.code}}</span>
                </dd>
                <dt><span>Ressources</span></dt>
                <dd>
                    <div *ngIf="fonction.ressources">
                        <a [routerLink]="['/ressources', fonction.ressources?.id, 'view']">{{fonction.ressources?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fonction', fonction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
