<div>
    <h2 id="page-heading">
        <span>Statuts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-statut" [routerLink]="['/statut/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Statut
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="statuts?.length === 0">
        <span>No statuts found</span>
    </div>
    <div class="table-responsive" *ngIf="statuts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Libelle</span></th>
            <th><span>Code</span></th>
            <th><span>Ressources</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let statut of statuts ;trackBy: trackId">
                <td><a [routerLink]="['/statut', statut.id, 'view' ]">{{statut.id}}</a></td>
                <td>{{statut.libelle}}</td>
                <td>{{statut.code}}</td>
                <td>
                    <div *ngIf="statut.ressources">
                        <a [routerLink]="['/ressources', statut.ressources?.id, 'view' ]" >{{statut.ressources?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/statut', statut.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/statut', statut.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/statut', { outlets: { popup: statut.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
