<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="statut">
            <h2><span>Statut</span> {{statut.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{statut.libelle}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{statut.code}}</span>
                </dd>
                <dt><span>Ressources</span></dt>
                <dd>
                    <div *ngIf="statut.ressources">
                        <a [routerLink]="['/ressources', statut.ressources?.id, 'view']">{{statut.ressources?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/statut', statut.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
