<div>
    <h2 id="page-heading">
        <span>Durees</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-duree" [routerLink]="['/duree/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Duree
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="durees?.length === 0">
        <span>No durees found</span>
    </div>
    <div class="table-responsive" *ngIf="durees?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Jour</span></th>
            <th><span>Mois</span></th>
            <th><span>Detail PC</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let duree of durees ;trackBy: trackId">
                <td><a [routerLink]="['/duree', duree.id, 'view' ]">{{duree.id}}</a></td>
                <td>{{duree.jour}}</td>
                <td>{{duree.mois}}</td>
                <td>
                    <div *ngIf="duree.detailPC">
                        <a [routerLink]="['/detail-pc', duree.detailPC?.id, 'view' ]" >{{duree.detailPC?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/duree', duree.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/duree', duree.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/duree', { outlets: { popup: duree.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
