<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="duree">
            <h2><span>Duree</span> {{duree.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Jour</span></dt>
                <dd>
                    <span>{{duree.jour}}</span>
                </dd>
                <dt><span>Mois</span></dt>
                <dd>
                    <span>{{duree.mois}}</span>
                </dd>
                <dt><span>Detail PC</span></dt>
                <dd>
                    <div *ngIf="duree.detailPC">
                        <a [routerLink]="['/detail-pc', duree.detailPC?.id, 'view']">{{duree.detailPC?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/duree', duree.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
