<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bU">
            <h2><span>BU</span> {{bU.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{bU.nom}}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{bU.prenom}}</span>
                </dd>
                <dt><span>L</span></dt>
                <dd>
                    <div *ngIf="bU.l">
                        <a [routerLink]="['/projet', bU.l?.id, 'view']">{{bU.l?.id}}</a>
                    </div>
                </dd>
                <dt><span>Detail PC</span></dt>
                <dd>
                    <div *ngIf="bU.detailPC">
                        <a [routerLink]="['/detail-pc', bU.detailPC?.id, 'view']">{{bU.detailPC?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bu', bU.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
