<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bu-heading">Create or edit a BU</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_l">L</label>
                    <select class="form-control" id="field_l" name="l" formControlName="l">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projetOption.id === editForm.get('l').value?.id ? editForm.get('l').value : projetOption" *ngFor="let projetOption of ls; trackBy: trackProjetById">{{projetOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_detailPC">Detail PC</label>
                    <select class="form-control" id="field_detailPC" name="detailPC" formControlName="detailPC">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="detailPCOption.id === editForm.get('detailPC').value?.id ? editForm.get('detailPC').value : detailPCOption" *ngFor="let detailPCOption of detailpcs; trackBy: trackDetailPCById">{{detailPCOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
