<div>
    <h2 id="page-heading">
        <span>BUS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bu" [routerLink]="['/bu/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new BU
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="bUS?.length === 0">
        <span>No bUS found</span>
    </div>
    <div class="table-responsive" *ngIf="bUS?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom</span></th>
            <th><span>Prenom</span></th>
            <th><span>L</span></th>
            <th><span>Detail PC</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bU of bUS ;trackBy: trackId">
                <td><a [routerLink]="['/bu', bU.id, 'view' ]">{{bU.id}}</a></td>
                <td>{{bU.nom}}</td>
                <td>{{bU.prenom}}</td>
                <td>
                    <div *ngIf="bU.l">
                        <a [routerLink]="['/projet', bU.l?.id, 'view' ]" >{{bU.l?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bU.detailPC">
                        <a [routerLink]="['/detail-pc', bU.detailPC?.id, 'view' ]" >{{bU.detailPC?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/bu', bU.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bu', bU.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bu', { outlets: { popup: bU.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
