<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projet">
            <h2><span>Projet</span> {{projet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Acronyme</span></dt>
                <dd>
                    <span>{{projet.acronyme}}</span>
                </dd>
                <dt><span>Probabilite Gain</span></dt>
                <dd>
                    <span>{{projet.probabiliteGain}}</span>
                </dd>
                <dt><span>Charge Jh</span></dt>
                <dd>
                    <span>{{projet.chargeJh}}</span>
                </dd>
                <dt><span>Mois De Demarrage</span></dt>
                <dd>
                    <span>{{projet.moisDeDemarrage}}</span>
                </dd>
                <dt><span>Duree</span></dt>
                <dd>
                    <span>{{projet.duree}}</span>
                </dd>
                <dt><span>Mois De Cloture</span></dt>
                <dd>
                    <span>{{projet.moisDeCloture}}</span>
                </dd>
                <dt><span>A</span></dt>
                <dd>
                    <div *ngIf="projet.a">
                        <a [routerLink]="['/client', projet.a?.id, 'view']">{{projet.a?.id}}</a>
                    </div>
                </dd>
                <dt><span>Typ</span></dt>
                <dd>
                    <div *ngIf="projet.typ">
                        <a [routerLink]="['/type-de-projet', projet.typ?.id, 'view']">{{projet.typ?.id}}</a>
                    </div>
                </dd>
                <dt><span>Detail PC</span></dt>
                <dd>
                    <div *ngIf="projet.detailPC">
                        <a [routerLink]="['/detail-pc', projet.detailPC?.id, 'view']">{{projet.detailPC?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/projet', projet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
