<div>
    <h2 id="page-heading">
        <span>Projets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-projet" [routerLink]="['/projet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Projet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="projets?.length === 0">
        <span>No projets found</span>
    </div>
    <div class="table-responsive" *ngIf="projets?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Acronyme</span></th>
            <th><span>Probabilite Gain</span></th>
            <th><span>Charge Jh</span></th>
            <th><span>Mois De Demarrage</span></th>
            <th><span>Duree</span></th>
            <th><span>Mois De Cloture</span></th>
            <th><span>A</span></th>
            <th><span>Typ</span></th>
            <th><span>Detail PC</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let projet of projets ;trackBy: trackId">
                <td><a [routerLink]="['/projet', projet.id, 'view' ]">{{projet.id}}</a></td>
                <td>{{projet.acronyme}}</td>
                <td>{{projet.probabiliteGain}}</td>
                <td>{{projet.chargeJh}}</td>
                <td>{{projet.moisDeDemarrage}}</td>
                <td>{{projet.duree}}</td>
                <td>{{projet.moisDeCloture}}</td>
                <td>
                    <div *ngIf="projet.a">
                        <a [routerLink]="['/client', projet.a?.id, 'view' ]" >{{projet.a?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="projet.typ">
                        <a [routerLink]="['/type-de-projet', projet.typ?.id, 'view' ]" >{{projet.typ?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="projet.detailPC">
                        <a [routerLink]="['/detail-pc', projet.detailPC?.id, 'view' ]" >{{projet.detailPC?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/projet', projet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/projet', projet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/projet', { outlets: { popup: projet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
