<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-projet-heading">Create or edit a Projet</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_acronyme">Acronyme</label>
                    <input type="text" class="form-control" name="acronyme" id="field_acronyme"
                           formControlName="acronyme"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_probabiliteGain">Probabilite Gain</label>
                    <input type="number" class="form-control" name="probabiliteGain" id="field_probabiliteGain"
                           formControlName="probabiliteGain"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_chargeJh">Charge Jh</label>
                    <input type="number" class="form-control" name="chargeJh" id="field_chargeJh"
                           formControlName="chargeJh"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_moisDeDemarrage">Mois De Demarrage</label>
                    <input type="text" class="form-control" name="moisDeDemarrage" id="field_moisDeDemarrage"
                           formControlName="moisDeDemarrage"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_duree">Duree</label>
                    <input type="text" class="form-control" name="duree" id="field_duree"
                           formControlName="duree"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_moisDeCloture">Mois De Cloture</label>
                    <input type="text" class="form-control" name="moisDeCloture" id="field_moisDeCloture"
                           formControlName="moisDeCloture"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_a">A</label>
                    <select class="form-control" id="field_a" name="a" formControlName="a">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('a').value?.id ? editForm.get('a').value : clientOption" *ngFor="let clientOption of as; trackBy: trackClientById">{{clientOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_typ">Typ</label>
                    <select class="form-control" id="field_typ" name="typ" formControlName="typ">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeDeProjetOption.id === editForm.get('typ').value?.id ? editForm.get('typ').value : typeDeProjetOption" *ngFor="let typeDeProjetOption of typs; trackBy: trackTypeDeProjetById">{{typeDeProjetOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_detailPC">Detail PC</label>
                    <select class="form-control" id="field_detailPC" name="detailPC" formControlName="detailPC">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="detailPCOption.id === editForm.get('detailPC').value?.id ? editForm.get('detailPC').value : detailPCOption" *ngFor="let detailPCOption of detailpcs; trackBy: trackDetailPCById">{{detailPCOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
