<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pc">
            <h2><span>Pc</span> {{pc.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{pc.libelle}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{pc.code}}</span>
                </dd>
                <dt><span>Detail PC</span></dt>
                <dd>
                    <div *ngIf="pc.detailPC">
                        <a [routerLink]="['/detail-pc', pc.detailPC?.id, 'view']">{{pc.detailPC?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pc', pc.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
