<div>
    <h2 id="page-heading">
        <span>Pcs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pc" [routerLink]="['/pc/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Pc
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pcs?.length === 0">
        <span>No pcs found</span>
    </div>
    <div class="table-responsive" *ngIf="pcs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Libelle</span></th>
            <th><span>Code</span></th>
            <th><span>Detail PC</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pc of pcs ;trackBy: trackId">
                <td><a [routerLink]="['/pc', pc.id, 'view' ]">{{pc.id}}</a></td>
                <td>{{pc.libelle}}</td>
                <td>{{pc.code}}</td>
                <td>
                    <div *ngIf="pc.detailPC">
                        <a [routerLink]="['/detail-pc', pc.detailPC?.id, 'view' ]" >{{pc.detailPC?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pc', pc.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pc', pc.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pc', { outlets: { popup: pc.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
