<div>
    <h2 id="page-heading">
        <span>Detail PCS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-detail-pc" [routerLink]="['/detail-pc/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Detail PC
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="detailPCS?.length === 0">
        <span>No detailPCS found</span>
    </div>
    <div class="table-responsive" *ngIf="detailPCS?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Libelle</span></th>
            <th><span>Code</span></th>
            <th><span>Role</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detailPC of detailPCS ;trackBy: trackId">
                <td><a [routerLink]="['/detail-pc', detailPC.id, 'view' ]">{{detailPC.id}}</a></td>
                <td>{{detailPC.libelle}}</td>
                <td>{{detailPC.code}}</td>
                <td>{{detailPC.role}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/detail-pc', detailPC.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/detail-pc', detailPC.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/detail-pc', { outlets: { popup: detailPC.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
